doctype html
html.no-js(lang='en', ng-app='AeroSearch')
  head
    title AeroSearch
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(charset='utf-8f        <meta name=', content='ThemeZaa')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    // favicon
    link(rel='shortcut icon', href='images/favicon.png')
    link(rel='apple-touch-icon', href='images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    // animation
    link(rel='stylesheet', href='/stylesheets/animate.css')
    // bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    // et line icon
    link(rel='stylesheet', href='/stylesheets/et-line-icons.css')
    // font-awesome icon
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    // revolution slider
    link(rel='stylesheet', href='/stylesheets/extralayers.css')
    link(rel='stylesheet', href='/stylesheets/settings.css')
    // magnific popup
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    // owl carousel
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/owl.transitions.css')
    link(rel='stylesheet', href='/stylesheets/full-slider.css')
    // text animation
    link(rel='stylesheet', href='/stylesheets/text-effect.css')
    // common
    link(rel='stylesheet', href='/stylesheets/style.css')
    // responsive
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/calendar.css')
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/calendar.js')
    //
      if IElink(rel='stylesheet', href='/stylesheets/style-ie.css')
    //
      if IEscript(src='js/html5shiv.js')
  body(ng-controller='SearchCtrl')
    // navigation panel
    nav.navbar.navbar-default.navbar-fixed-top.nav-transparent.overlay-nav.sticky-nav.nav-border-bottom.nav-white(role='navigation')
      .container
        .row
          // logo
          .col-md-2.pull-left
            a.logo-light(href='index.html')
              img.logo(alt='', src='/images/logo-white.png')
            a.logo-dark(href='index.html')
              img.logo(alt='', src='/images/logo-light.png')
          // end logo
    // end navigation panel
    section.parallax2.parallax-fix.no-padding.scroll-to-down-white.full-width-image(onclick='scrollToDownSection()', style='background: url(/images/bg.jpg) 50%')
      // tab section
      section.no-padding-top.travel-booking.bg-magenta
        .container
          .row
            .col-md-12
              .tab-style3
                // tab content section
                .tab-content
                  // tab content
                  #tab3_sec1.tab-pane.med-text.fade.in.active
                    .row.margin-two.no-margin-bottom
                      .col-md-8.col-sm-12.center-col
                        form(action='#', method='post')
                          .col-md-6.col-sm-6.no-padding-left.xs-no-padding
                            .form-group.no-margin-bottom
                              // input
                              input#textbox1(type='text', name='name', placeholder='Eg. San Francisco, CA')
                              // end input
                          .col-md-6.col-sm-6.no-padding-left.xs-no-padding
                            .form-group.no-margin-bottom
                              // input
                              input#textbox2(type='text', name='name', placeholder='Eg. Kuala Lumpur, Malaysia')
                              // end input
                  // end tab content
                // end tab content section
      // end tab section
      #calendar
    script(type='text/javascript').
      var calendar = $("#calendar").calendar(
      {
      tmpl_path: "/tmpls/",
      events_source: function () { return []; }
      });
